
<h1><%=@playlist.name%></h1>

<ol>


<%@playlist.songs.each do |song|%>
  <li>
      <%=song.name%><rb>
      <%=song.url%>

<iframe width="560" height="315" src= "<%= song.url %>" frameborder="0" allowfullscreen></iframe>



  </li>
<%end%>

</ol>
